#navCatTabsDropdown 
{
	margin-top: -10px;
}

#navCatTabsDropdown ul li 
{
	position: relative;
	display: inline;
	margin-right: 12px;
}

#navCatTabsDropdown * li ul
{
	display: block;
	left: 0;
	visibility: hidden;
	position: absolute;
	padding: 0.5em;
	white-space: nowrap;
	z-index: 100;
}

#navCatTabsDropdown * ul li
{
	display: block;
	text-align: left;
	list-style-type: none;
}

#navCatTabsDropdown * li:hover ul 
{
	visibility:visible;
	background-color: #ffffff;
	border: 2px outset;
	white-space: nowrap;
}
